@import "./../_globals";

.content {  
    @include display-flex();
    flex-flow: column nowrap;

    &__section {
        margin-bottom:20px;
    }

    &__caption {
        padding-top:15px;
        padding-bottom:10px;
        font-size: 20px;
        font-weight: bold;
        color: $accent_color;
    }
    
    &__list {
        border-left: 5px solid $accent_color;
        margin-left:30px;
        padding-left:10px;
        padding-top:5px;        
        padding-bottom:3px; 
        font-size:16px;
        color:#616161;         

        & a {
            // font-weight: bold;
            padding-left: 5px;
            padding-right: 8px;
            font-size:16px;
            color:#616161;
            text-decoration: none;
        }
        & a:hover {
            text-decoration: underline;
            color:$accent_color;
        }
    }

}

// .some-page-wrapper {
//     margin: 15px;
// }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

// .size__col1 {
//     width: 15%;
// }

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

//   .blue-column {
//     background-color: blue;
//     height: 100px;
//   }
  
//   .green-column {
//     background-color: green;
//     height: 100px;
//   }




// .container {
//     display: flex;
//     flex-wrap: nowrap;
// }

// .column {
//     padding-left: 100px;
// }

// .column {
//     background-color: #f1f1f1;
//     width: 100px;
//     margin: 10px;
//     text-align: center;
//     line-height: 75px;
//     font-size: 30px;
// }
